extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	+picture('content/2.jpg', 'Моя картинка 1')
	+picture('general/car.png', 'Моя картинка 2')
	+picture('content/1.jpg', 'Моя картинка 3')
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet itaque vero dolore laudantium velit cumque fuga corrupti quas, accusantium recusandae cupiditate dicta dolorum impedit numquam laborum, minima repellat iure in ad perferendis esse suscipit eaque perspiciatis nam! Id repellat eius, ullam magnam placeat, ratione. Praesentium, reiciendis, recusandae. Reiciendis, aliquam, nihil!
	
