$font: ("Bold": bold, "Regular": normal, "Medium": 500, "Thin": 100);

@each $style, $width in $font {
  $url: $base-font-family + '-' + #{$style};
  $rel_url: '../fonts/' + $url + '/' + $url;
  @font-face {
      font-family: $base-font-family;
      src: url($rel_url + '.eot');
      src: url($rel_url + '.eot?#iefix') format('embedded-opentype'),
      url($rel_url + '.woff') format('woff'),
      url($rel_url + '.ttf') format('truetype'),
      url($rel_url + '.svg#' + $url) format('svg');
      font-weight: $width;
      font-style: normal;
  }
}
